/* Importing Fonts 

/* Outfit weights 400 and 700 */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* Variables */

:root {
  --background-color: hsl(212, 45%, 89%);
  --container-background-color: hsl(0, 0%, 100%);
  --header-text-color: hsl(218, 44%, 22%);
  --paragraph-text-color: hsl(220, 15%, 55%);
}

body {
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  height: 47vh;
  width: 13vw;
  padding-left: 1vw;
  padding-right: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-background-color);
  font-family: "Outfit", sans-serif;
  border-radius: 3%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px,
    rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

img {
  width: 100%;
  height: auto;
  margin-top: 1vw;
  border-radius: 3%;
}

h1 {
  color: var(--header-text-color);
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  text-align: center;
}

p {
  color: var(--paragraph-text-color);
  text-align: center;
  font-size: 0.9375rem;
}

/* Responsive Queries */

@media screen and (max-width: 915px) {
  main {
    width: 80vw;
    height: 60vh;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-bottom: 3vh;
  }

  img {
    margin-top: 5%;
  }

  h1 {
    font-size: 1.5em;
  }

  p {
    font-size: 1.1em;
  }
}
